/* ================================ *\
              COLORS
\* ================================ */
$color-primary:     #16bae7 !default;
$color-secondary:   #232831 !default;

$color-black:       #151515 !default;
$color-white:       #ffffff !default;

$color-grey-light:  #f1f1f3 !default;
$color-grey:        #ededed !default;
$color-grey-dark:   #3e3d40 !default;

$color-success:     #a1c440 !default;
$color-error:       #c83434 !default;
$color-hint:        #485a7d !default;

$color-cta:         #a1c440 !default;


// Main
$color-background:  $color-white !default;
$color-paragraph:   #44484f !default;

// Headline
$color-headline:    $color-primary !default;
$color-subheadline: $color-primary !default;

// Social
$color-facebook:     #3c5998;
$color-twitter:      #55acee;
$color-gplus:        #dc4a38;
$color-youtube:      #e62117;
$color-rss:          #ff6c00;
$color-instagram:    #3f729b;
$color-blog:         $color-black;