/* ================================ *\

    Icons

    a:before{
      @include _getIcon('check');
    }

    <i data-icon="check"></i>

\* ================================ */
@mixin _icon-rendering {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin _icon-style($width: 20px, $height: 20px) {
  display: inline-block;

  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

  @include _icon-rendering;

}

//
// add icons by html-data-tag
// --------------------------
@each $key, $value in $iconMap {
  [data-icon="#{$key}"]:before {
    @include _icon-style();
    content: $value;
  }
}

//
// add icons by @mixin
// --------------------------
@mixin _getIcon($icon) {
  @include _icon-style();
  content: map_get($iconMap, $icon);
}