/* ================================ *\
            Font Size

	alternativ:
	https://madebymike.com.au/writing/fluid-type-calc-examples/

\* ================================ */
@mixin _font-size($phones, $tablet: null, $desktop: null, $wide: null) {
	font-size: $phones;

	@if ($tablet) {
		@include respond-to(tablets, desktops, wide) {
			font-size: $tablet;
		}
	}

	@if ($desktop) {
		@include respond-to(desktops, wide) {
			font-size: $desktop;
		}
	}

	@if ($wide) {
		@include respond-to(wide) {
			font-size: $wide;
		}
	}
}