/* ================================ *\
    Transition
\* ================================ */
@mixin _transition($object, $duration: .1s, $transition: linear){
  -webkit-transition: $object $duration $transition .1s;
  transition: $object $duration $transition .1s;
  -moz-transition: $object $duration $transition .1s;
  -o-transition: $object $duration $transition .1s;
}

@mixin _transition-delay($amount: 10, $duration: 0.05s){
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      transition-delay: ($duration * $i);
    }
  }
}