/* ================================ *\

    Create Twitter Bootstrap Grid
    @include _grid-bootstrap(30px, 12);

\* ================================ */
@mixin _grid-bootstrap($gutter-width: $grid-gutter-width, $grid-columns: $grid-amount-columns) {
	.container {
		margin: 0 auto;
		position: relative;
		padding-left: ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);
		@include _clearfix();

		@include _respond-to(tablets) {
			width: $container-tablet;
		}
		@include _respond-to(desktops) {
			width: $container-desktop;
		}
		@include _respond-to(large) {
			width: $container-large;
		}
	}

	.row {
		margin-left: ($gutter-width / -2);
		margin-right: ($gutter-width / -2);
		@include _clearfix();
	}

	$i: 1;
	$list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
	}
	#{$list} {
		position: relative;
		// Prevent columns from collapsing when empty
		min-height: 1px;
		// Inner gutter via padding
		padding-left: ($gutter-width / 2);
		padding-right: ($gutter-width / 2);
	}
}


/* ================================ *\

    Set margin for child elem.
    in lists / grid

\* ================================ */
@mixin _list-child-margin($margin: $spacing-lr, $div: '*', $direction: 'right') {
	> #{$div} {
		margin-#{$direction}: $margin;

		&:last-child {
			margin-#{$direction}: 0;
		}
	}
}


/* ================================ *\
    Custom Flex Grid
\* ================================ */
@mixin _grid-flex($col: null, $valign: flex-start, $spacing: $spacing-lr) {
	@include _display-flex(flex, null, flex-start, column);
	> * {
		margin-bottom: $spacing;
	}

	@include _respond-to(tablets, desktops) {
		@include _display-flex(flex, $valign, flex-start, row);
		@include _list-child-margin($spacing);

		@if ($col) {
			flex-wrap: wrap;
		}

		> * {
			flex: 1;

			@if ($col) {
				flex: 0 0 calc(#{map_get($grid, $col)} - #{$spacing});
				&:nth-child(#{$col}n) {
					margin-right: 0;
					flex-basis: #{map_get($grid, $col)}
				}
			}
		}

	}
}

