/* ================================ *\
              COLORS
\* ================================ */
$color-primary:     #19315d !default;
$color-secondary:   #fe8733 !default;

$color-black:       #222 !default;
$color-white:       #ffffff !default;

$color-grey:        #8b919f !default;
$color-grey-light:  #e7e9eb !default;
$color-dark:        #3e3d40 !default;

$color-success:     #87be42 !default;
$color-error:       #c83434 !default;
$color-hint:        #485a7d !default;

$color-cta:         $color-secondary !default;


// Main
$color-background:  $color-white !default;
$color-paragraph:   #8b919f !default;

// Headline
$color-headline:    $color-primary !default;
$color-subheadline: $color-primary !default;

// Social
$color-facebook:     #3c5998;
$color-twitter:      #55acee;
$color-gplus:        #dc4a38;
$color-youtube:      #e62117;
$color-rss:          #ff6c00;
$color-instagram:    #3f729b;
$color-blog:         $color-black;